<a href="https://colab.research.google.com/github/seolajo/DALC/blob/main/kmooc3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
pandas.__version__

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.Series(np.linspace(0,1,5), index = ['a','b','c','d','e'])
#인덱스를 data개수만큼 입력해주지 않으면 컴파일 오류남
data[0:3]#0~2번째 값출력
data['a':'d']#0~3번째 값출력

In [ ]:
data.loc['a':'d']

In [ ]:
population_dict = {'California':38332521,'Texas':26448393,'NewYork':19651127,
                   'Florida':19552860,'Illinois':12882135}
population = pd.Series(population_dict)
area_dict = {'California':423967,'Texas':695662,'NewYork':141297,'Florida':170312,
             'Illinois':149995}
area = pd.Series(area_dict)
states = pd.DataFrame({'population':population, 'area':area})
states

In [ ]:
states['density'] = states['population']/states['area']
states

In [ ]:
states.values

In [ ]:
states.T

In [ ]:
states.values[0]

In [ ]:
states['area']

In [ ]:
states.iloc[:3, :2]

In [ ]:
states.loc['Illinois':, 'population':]

In [ ]:
st1 = pd.Series({'eng':np.nan,'mat':80,'kor':96})
st2 = pd.Series({'mat':94,'eng':100})
sum_st = st1.add(st2, fill_value=0)
print(sum_st)

In [ ]:
kor = pd.Series({'s1':96,'s2':80,'s3':96})
eng = pd.Series({'s1':94,'s2':100,'s3':88})
mat = pd.Series({'s1':90,'s2':83,'s3':92})

score = pd.DataFrame({'kor':kor,'eng':eng,'mat':mat})
score /= 100
score